[submodule "deps/linux-sgx"]
	path = deps/linux-sgx
	url = https://github.com/intel/linux-sgx.git
[submodule "deps/td-shim"]
	path = deps/td-shim
	url = https://github.com/confidential-containers/td-shim
[submodule "deps/spdm-rs"]
	path = deps/spdm-rs
	url = https://github.com/ccc-spdm-tools/spdm-rs
