on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

name: Fuzzing Test

env:
  AS: nasm
  AR_x86_64_unknown_none: llvm-ar
  CC_x86_64_unknown_none: clang
  RUST_TOOLCHAIN: nightly
  TOOLCHAIN_PROFILE: minimal
  AFL_NO_AFFINITY: 1

permissions:
  contents: read

jobs:
  test:
    name: Fuzzing Test

    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          profile: minimal
          override: true
          components: rust-src, llvm-tools-preview
      
      - name: install NASM
        uses: ilammy/setup-nasm@72793074d3c8cdda771dba85f6deafe00623038b # v1.5.2
      
      - name: Install AFL
        run: cargo install cargo-afl && cargo afl config --build --force
      
      - name: Install Cargo-Fuzz
        run: cargo install cargo-fuzz
      
      - name: Select default toolchain
        run: rustup default ${{ env.RUST_TOOLCHAIN }}

      - name: Preparation work
        run: bash sh_script/preparation.sh

      - name: Run all afl fuzzing test cases
        run: bash sh_script/fuzzing.sh -n afl_all -t 10

      - name: Run all libfuzzer fuzzing test cases
        run: bash sh_script/fuzzing.sh -n libfuzzer_all -t 60