on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

name: Ingetration Test on TDX Server

env:
  AS: nasm
  RUST_TOOLCHAIN: nightly-2023-08-28
  TOOLCHAIN_PROFILE: minimal

jobs:
  virtio_vsock:
    name: Run TDX Integration Test (virtio-vsock)
    runs-on: [self-hosted, tdx]
    # timeout-minutes: 30

    steps:
      # Install first since it's needed to build NASM
      # - name: Install LLVM and Clang
      #   uses: KyleMayes/install-llvm-action@v1
      #   with:
      #     version: "10.0"
      #     directory: ${{ runner.temp }}/llvm

      # - name: Install NASM
      #   uses: ilammy/setup-nasm@v1

      # - name: Install tools for sgx lib
      #   run:  sudo dnf group install 'Development Tools' | sudo dnf --enablerepo=powertools install ocaml ocaml-ocamlbuild wget rpm-build pkgcon

      - name: Checkout sources
        uses: actions/checkout@v2
        with: 
          submodules: recursive

      - name: Build Migration TD binary
        run: bash sh_script/build_final.sh -t migtd -c -a on

      - name: Run Tests - Test Migration TD
        run: |
          sudo bash sh_script/integration_tdx.sh -f target/release/migtd.bin

      - name: Run Tests - Cycle Test Migration TD (20)
        run: |
          sudo bash sh_script/integration_tdx.sh -f target/release/migtd.bin -n 20
      
      - name: Build all test binaries
        run: bash sh_script/build_final.sh -t test -c -a on
      
      - name: Run Tests - Run test TD payload
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/final-test.bin

      - name: Run Tests - Run migration test case 001
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_001.bin 
      
      - name: Run Tests - Run migration test case 002
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_002.bin 
      
      - name: Run Tests - Run migration test case 003
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_003.bin 

      - name: Run Tests - Run migration test case 004
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_004.bin 
      
      - name: Run Tests - Run migration test case 005
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_005.bin 
      
      - name: Run Tests - Run migration test case 006
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_006.bin

      - name: Run Tests - Run migration test case 007
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_007.bin 
      
      - name: Run Tests - Run migration test case 008
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_008.bin 
      
      - name: Run Tests - Run migration test case 009
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_009.bin  
      
      - name: Run Tests - Run migration test case 010
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_010.bin 
      
      - name: Run Tests - Run migration test case 011
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_011.bin

  virtio_serial:
    name: Run TDX Integration Test (virtio-serial)
    runs-on: [self-hosted, tdx]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with: 
          submodules: recursive

      - name: Build Migration TD binary
        run: bash sh_script/build_final.sh -t migtd -d serial -c -a on

      - name: Run Tests - Test Migration TD
        run: |
          sudo bash sh_script/integration_tdx.sh -f target/release/migtd.bin -d serial

      - name: Run Tests - Cycle Test Migration TD (20)
        run: |
          sudo bash sh_script/integration_tdx.sh -f target/release/migtd.bin -d serial -n 20
      
      - name: Build all test binaries
        run: bash sh_script/build_final.sh -t test -c -a on -d serial

      - name: Run Tests - Run migration test case 001
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_001.bin -d serial
      
      - name: Run Tests - Run migration test case 002
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_002.bin -d serial
      
      - name: Run Tests - Run migration test case 003
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_003.bin -d serial

      - name: Run Tests - Run migration test case 004
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_004.bin -d serial
      
      - name: Run Tests - Run migration test case 005
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_005.bin -d serial
      
      - name: Run Tests - Run migration test case 006
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_006.bin -d serial

      - name: Run Tests - Run migration test case 007
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_007.bin -d serial
      
      - name: Run Tests - Run migration test case 008
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_008.bin -d serial
      
      - name: Run Tests - Run migration test case 009
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_009.bin -d serial
      
      - name: Run Tests - Run migration test case 010
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_010.bin -d serial
      
      - name: Run Tests - Run migration test case 011
        run: |
          sudo bash sh_script/integration_tdx.sh -f Bin/migtd_011.bin -d serial