on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

name: Library Crates

env:
  AS: nasm
  AR: llvm-ar
  CC: clang
  RUST_TOOLCHAIN: 1.88.0
  TOOLCHAIN_PROFILE: minimal

permissions:
  contents: read

jobs:
  lib-test:
    name: Build Library Crates
    runs-on: ubuntu-22.04
    timeout-minutes: 30

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Checkout sources
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
        with:
          rust-toolchain: '1.88.0' # for spdm-rs

      - name: Build library crates
        run: cargo xtask lib-build
      
      - name: Test library crates
        run: cargo xtask lib-test