on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

name: Library Crates

env:
  AS: nasm
  AR: llvm-ar
  CC: clang
  RUST_TOOLCHAIN: 1.88.0
  TOOLCHAIN_PROFILE: minimal

permissions:
  contents: read

jobs:
  lib-test:
    name: Build Library Crates
    runs-on: ubuntu-22.04
    timeout-minutes: 30

    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: recursive

      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
        with:
          rust-toolchain: '1.88.0' # for spdm-rs

      - name: Build library crates
        run: cargo xtask lib-build
      
      - name: Test library crates
        run: cargo xtask lib-test