on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

name: main

env:
  AS: nasm
  RUST_TOOLCHAIN: 1.88.0
  TOOLCHAIN_PROFILE: minimal

permissions:
  contents: read

jobs:
  build:
    name: Build (${{ matrix.device }} / ${{ matrix.policy_version}} / ${{ matrix.protocol }} / ${{ matrix.build_type }})
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        device: [virtio-vsock, virtio-serial, vmcall-vsock, vmcall-raw]
        policy_version: [v1, v2]
        protocol: [tls, spdm]
        build_type: [release, debug]
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: recursive

      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment

      - name: Build MigTD binary (${{ matrix.device }} / ${{ matrix.policy_version}} / ${{ matrix.protocol }} / ${{ matrix.build_type }})
        run: |
          BUILD_CMD="cargo image"
          if [ "${{matrix.device}}" != "virtio-vsock" ]; then
            BUILD_CMD="$BUILD_CMD --no-default-features --features stack-guard,${{ matrix.device }}"
            if [ "${{ matrix.protocol }}" = "spdm" ]; then
              BUILD_CMD="$BUILD_CMD,spdm_attestation"
            fi
          else
            if [ "${{ matrix.protocol }}" = "spdm" ]; then
              BUILD_CMD="$BUILD_CMD --features spdm_attestation"
            fi
          fi
          if [ "${{matrix.policy_version}}" = "v2" ]; then
            BUILD_CMD="$BUILD_CMD --policy-v2 --policy config/templates/policy_v2_signed.json --policy-issuer-chain config/templates/policy_issuer_chain.pem"
          fi
          if [ "${{ matrix.build_type }}" = "debug" ]; then
            BUILD_CMD="$BUILD_CMD --debug"
          fi
          $BUILD_CMD

      - name: Build tools
        run: |
          cargo build -p json-signer
          cargo build -p migtd-collateral-generator
          cargo build -p migtd-hash
          cargo build -p migtd-policy-generator
          cargo build -p migtd-policy-verifier
          cargo build -p servtd-collateral-generator

          