on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

name: main

env:
  AS: nasm
  RUST_TOOLCHAIN: nightly-2023-12-31
  TOOLCHAIN_PROFILE: minimal

jobs:
  build_migtd:
    name: Build final migtd
    runs-on: ubuntu-20.04
    timeout-minutes: 45

    steps:
      # Install first since it's needed to build NASM
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "10.0"
          directory: ${{ runner.temp }}/llvm

      - name: Install NASM
        uses: ilammy/setup-nasm@v1

      - name: Install tools for sgx lib
        run:  sudo apt-get install build-essential ocaml ocamlbuild automake autoconf libtool wget python-is-python3 libssl-dev git cmake perl

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: ${{ env.TOOLCHAIN_PROFILE }}
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          override: true
          components: rust-src

      - name: Run cargo install cargo-xbuild
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-xbuild
        
      - name: Preparation Work
        run: bash sh_script/preparation.sh

      - name: Build MigTD binary with a default production migration policy(virtio-vsock)
        run: cargo image

      - name: Build MigTD binary with a default production migration policy(virtio-serial)
        run: cargo image --no-default-features --features remote-attestation,stack-guard,virtio-serial